.fade-in {
    animation: fadeIn 0.1s ease-in;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0.75;
    }
    to {
      opacity: 1;
    }
  }

  
  .fade-out {
    animation: fadeOut 0.1s ease-out;
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .post-container
  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 9px;
  }
  .FadedPost
  {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    padding: 1px;
    background-color: rgb(243, 244, 244);
    border-radius: 6px;
    border: 1px dashed rgb(146, 154, 155);
    display: flex;
    width: 100%;
    height:30%;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: row;
   
  }

  .HiddenPostInfoContainer
  {
   
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: row;
      
  }
  
  .HiddenPostInfo
  {
    display: inline-block; /* or block, depending on your layout */
  width: 80%;
    background-color: darkgrey;
    color:darkgrey ;
    margin:1rem;
    border-radius: 6px;
    opacity: 0.3;
  }
  .PostBtn {
    color: yellowgreen;
    background-color: rgb(0, 0, 0);
}

  @media (max-width: 1000px) {
     /* Styles that should be applied to elements with the class "my-class"
         on screens 600 pixels wide or smaller */
    .PostBtn {
     
        background-color: brown;
    }
  }